//configuraciones globales


//Colores

$primaryColor: #f49030; 
$secondaryColor: #35364a; 
$backgroundSoft: #f1f3fb;
// $borderColorSoft: 


//padding and spaces
$paddingIndex: 0px 25vw;




//tamaños de fuente

$tamaño1      : 1.2em;
$tamañoTitulo : 2.5em;

//Tipografía

$primaryFont: 'Roboto', sans-serif;

//Radios
$primaryButtonRadius: 6px;

//tamaños de pantalla

$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;